body {
    font-family: 'Poppins', sans-serif; 
    background: rgb(230, 227, 218);
}

header{
    color: #ffc259;
    background-image: url("https://images.unsplash.com/photo-1494415859740-21e878dd929d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
    padding: 25px;
    text-shadow: 2px 2px 5px#1a1818a4
}

.bkg-img{
    /* background-image: url("https://images.unsplash.com/photo-1500911743491-cca4e7204dc2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1266&q=80");
    background-image: url("https://images.unsplash.com/photo-1494415859740-21e878dd929d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
    background-image: url("https://images.unsplash.com/photo-1573668200361-62e141908294?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); */
    background: rgb(230, 227, 218);
    background-size: cover;
    background-position: center;
    /* height: 100%; */
    /* width: 100%; */
}

/* index.html */
.form-container{
    border: solid #ff9959 10px;
    border-radius: 10px;
    padding: 20px;
    color: #1a1818a4;
    background-color: #ffc259;
}

.form-title{
    padding-bottom: 5px;
    border-bottom: #ff9959 solid 2px;
}

.btn-minor {
    background-color:  #ff9959;
}

.btn-minor:hover{
    background-color: #e08349;
    color: #444;
}

.btn-main {
    background-color:  #ff9959;
    border: solid #ffc259;
    color:rgb(230, 227, 218)  
}

.btn-main:hover{
    background-color: #e08349;
}


.about{
    font-weight: 500;
    background-image: url("https://images.unsplash.com/photo-1494415859740-21e878dd929d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
    padding: 20px;
    padding-bottom: 80px;
    text-shadow: 2px 2px 5px  rgb(230, 227, 218);
}

/* Hide initial values */
.hide{
    display: none;
}


/* results html page */
.food-results{
    border: solid black 1px;
    border-radius: 5px;
    padding: 10px;
}

#more-results{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fav-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    margin-top: 10px;
}

.full-width{
    width: 100%;
}


.small-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.joke-btn{
    float: left;
    margin-top: 0px;
}
